body {
    text-align: center;
    background-color: darkgrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-image: url(../img/cropped-twitter-header-wallpaper.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: cornflowerblue;
    padding-top: 20px;
}

nav ul {
    display: flex;
    background-color: antiquewhite;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav a {
    color: mediumseagreen;
    font-size: 2.5em;
}

nav a:hover {
    background-color: rgb(184, 172, 156);
    text-transform: uppercase;
}

ul a {
    text-decoration: none;
}

h1 {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7em;
    width: fit-content;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    color: cornsilk;
    background-color: rgba(110, 174, 176, 0.247);
    border-radius: 12px;
    border: solid 5px;
}

.productcard img {
    display: flexbox;
    margin: auto;
    width: 30%;
}

.itembox {
    display: flex;
}

.productcard {
    margin: auto;
    width: 20%;
    background-color: antiquewhite;
    border-radius: 4px;
}

.productcard p {
    display: flex;
    width: 30%;
}

h2 {
    background-color: rgba(249, 194, 210, 0.662);
    font-size: 3.5em;
    width: 75%;
    border-radius: 15px;
    margin: auto;
    padding: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

h3 {
    background-color: paleturquoise;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3em;
    width: 75%;
    border-radius: 15px;
}

p {
    line-height: 20px;
}

p,
address {
    width: 75%;
    margin: auto;
    padding: 20px;
    background-color: rgba(244, 218, 226, 0.662);
    border-radius: 15px;
}

.notop {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 20px;
}

.notop a {
    font-weight: bold;
    color: rgb(191, 54, 54);
    text-decoration: none;
    border: 3px double rgb(191, 54, 54);
}

#homepic {
    width: 30%;
    border-radius: 15px;
    border: 15px solid powderblue;
    margin-top: 25px;
    margin-bottom: 30px;
}

footer p {
    margin-top: 20px;
    background-color: antiquewhite;
    width: auto;
}

.deals ul {
    list-style-type: none;
    width: 75%;
    padding: 20px;
    width: 75%;
    margin: auto;
    border-radius: 15px;
}

address {
    background-color: rgba(244, 218, 226, 0.662);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 2em;
}