body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    background-color: rgb(66, 159, 241);
    border: 10px solid darkblue;
    border-radius: 30px;
    padding-bottom: 100px;
    padding-top: 40px;

}

nav {
    position: absolute;
    padding-bottom: 1px;
    width: 100%;
    left: 0;

}

nav ul {
    display: flex;
    list-style-type: none;
    padding-top: 160px;
    font-size: 35px;
    justify-content: space-evenly;

}

ul {
    list-style: none;
}

h1 {
    font-size: 60px;
}

div h2,
footer {
    display: flexbox;
    background-color: rgb(66, 159, 241);
    width: 300px;
    border-radius: 10px;
    text-align: center;
    margin-left: 490px;
    padding: 10px;
    border: 10px solid rgb(77, 103, 111);
}


h3 {
    background-color: lightslategray;
    display: flexbox;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    margin-left: 490px;
    padding: 10px;
    border: 10px solid rgb(77, 103, 111);
}

img {
    width: 300px;
    margin: 10px;
    border: 5px solid darkgrey;
}

blockquote {
    font-style: italic;
    background-color: lightslategray;
    display: flexbox;
    width: 500px;
    margin-left: 380px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    border: 10px solid rgb(138, 153, 154);
}

.maincontent {
    display: flexbox;
    width: 590px;
    margin-left: 345px;
    margin-bottom: 20px;
    background-color: darkgrey;
    padding: 10px;
    border-radius: 30px;
    border: 10px solid rgb(77, 103, 111);

}

iframe {
    border: 10px solid rgb(77, 103, 111);
    border-radius: 10px;
}

footer {
    width: 200px;
}