/* Noah McKay Lab 6 2/25/26 */

@charset "utf-8";

* {
    box-sizing: border-box;

}

body {
    margin: auto;
}

h1 {
    width: 150px;
    border: 5px dotted blue;
    margin: auto;
}

#one {
    padding: 50px;
    background-color: rgb(216, 205, 236);
}

#two {
    width: 160px;
    margin: 30px;
    border: 5px dotted blue;
}

#three {
    border: 5px dashed darkred;
    text-align: right;
    margin-right: 200px;
    margin-bottom: 0;
}

#four {
    width: 600px;
    margin: auto;
}

#four img {
    width: 600px;
    border: 5px solid black;
}