/* Noah McKay Lab 6 2/25/26 */
@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
}

#one {
    width: 60%;
    text-align: right;
    background-color: rgb(216, 205, 236);
}

#two {
    width: 25%;
    padding-top: 30px;
    padding-right: 30px;
    border: 5px solid black;
}

#three {
    margin-top: 50px;
    margin-right: 50px;
    border: 5px solid blue;
}

#four {
    margin-bottom: 50px;
    margin-left: 50px;
    border: 5px solid black;
}

#five {
    margin: auto;
    width: 80%;
    border: 5px solid black
}

img {
    width: 100%;

}

span {
    color: green;
    font-weight: bold;
    font-style: italic;
}