body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

table {
    width: 80%;

}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    background-color: rgb(74, 225, 97);
    font-size: 20px;
}

img {
    width: 200px;
    height: 150px;
    padding-top: 8px;
}

.light {
    background-color: rgb(159, 249, 159);
}

.dark {
    background-color: rgb(99, 157, 99);
}

tfoot {
    font-weight: bold;
    font-size: 18px;
}

.bold {
    font-weight: bold;
}